:root {
    /* Основные цвета */
    --white-color: #FFFFFF;
    --black-color: #1F1F1F;
    --gray-color: #313131;
    --gtay-light-color: #D6D6D6;
    --yellow-color: #FBCE51;
    --red-color: #F54932;
    --blue-color: #3057A2;
    --bougie-color: #E9DED4;
}

/* ---COMMON STYLES--- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: 'Merriweather', Georgia, serif;

    font-size: 16px;
    line-height: 1.6;
    color: var(--black-color);
    background-color: var(--white-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1242px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

/* ---COMPONENTS--- */
/* BUTTON */
.btn {
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;

    padding: 14px 50px;
    border-radius: 100px;
    width: 100%;
    max-width: 263px;
    min-height: 72px;

    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    text-align: center;
    text-decoration: none;

    &:hover {
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        box-shadow: none;
    }

    &.btn-primary {
        color: var(--white-color);
        border: solid 2px var(--black-color);
        background-color: var(--black-color);

        &:hover {
            color: #1F1F1F;
            border: solid 2px var(--yellow-color);
            background-color: var(--yellow-color);
        }
    }

    &.btn-outline {
        color: #1F1F1F;
        border: solid 2px var(--black-color);
        background-color: transparent;

        &:hover {
            color: var(--white-color);
            border: solid 2px var(--black-color);
            background-color: var(--black-color);
        }

        @media (max-width: 768px) {
            border: solid 2px var(--white-color);
            background-color: var(--white-color);
        }
    }

    @media (max-width: 768px) {
        min-height: 47px;
        padding: 12px 40px;
    }
}

/* LINE THROUGH */
.line-through {
    text-decoration: line-through;
    text-decoration-color: var(--red-color);
    /* Красная линия как в макете */
}

/* LINK */
.link {
    display: inline-block;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    line-height: 120%;

    color: var(--blue-color);

    text-decoration: none;
    text-transform: none;
}

/* BADGE */
.badge {
    display: block;
    padding: 7px 12px;
    border-radius: 30px;

    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    background-color: transparent;

    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;

    text-decoration: none;
    text-transform: none;

    &:hover {
        color: var(--white-color);
        background-color: var(--blue-color);
    }
}

/* TITLE */
.title {
    font-family: 'Merriweather', Georgia, serif;
    text-transform: uppercase;
    color: var(--gray-color);

    & .-colored {
        color: var(--red-color);
    }
}

h1.title {
    font-size: 60px;
    font-weight: 400;
    line-height: 110%;

    @media (max-width: 768px) {
        font-size: 36px;
    }
}

h2.title {
    font-size: 54px;
    font-weight: 400;
    line-height: 120%;

    @media (max-width: 768px) {
        font-size: 36px;
    }
}

h3.title {
    font-size: 36px;
    line-height: 135%;

    @media (max-width: 768px) {
        font-size: 28px;
    }
}

.slider-viewport {
    overflow: hidden;
    margin: 0 -20px;
    padding: 0 20px;
}

.slider-track {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.slider-card {
    box-sizing: border-box;
    margin: 0;
}

/* SLIDER */
.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.slider-nav__btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    border: none;
    outline: none;
    box-shadow: none;

    background-color: var(--black-color);
    background-repeat: no-repeat;

    cursor: pointer;

    &.-left {
        background-image: url(../images/arrow-left.svg);
        background-position: calc(50% - 2px) center;
    }

    &.-right {
        background-image: url(../images/arrow-right.svg);
        background-position: calc(50% + 2px) center;
    }

    &:hover {
        background-color: var(--yellow-color);
    }

    &:disabled {
        background-color: var(--gtay-light-color);
    }
}

.slider-nav__pagination {
    display: flex;
    gap: 2px;
    align-items: center;
}

.slider-nav__pagination-dot {
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    border-radius: 50%;
    transition: 0.3s;

    &.active {
        background: #313131;
    }
}

.slider-nav__caunter {
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-color);

    & span {
        color: var(--black-color);
    }
}

/* ---ELEMENTS--- */
/* HEADER */
header {
    padding-top: 26px;
    padding-bottom: 26px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

header .logo-text {
    font-family: "Golos Text", sans-serif;
    font-weight: bold;
    line-height: 108%;
}

/* ---SECTIONS--- */
/* HERO */
.hero {
    height: 700px;
    background-image: url('../images/hero-image.png'), url('../images/hero-mask.jpg');
    background-repeat: no-repeat;
    background-size: 1627px 700px, cover;
    background-position: center bottom, center bottom;

    @media (max-width: 1200px) {
        background-position: calc(50% + 100px) bottom, center bottom;
    }

    @media (max-width: 991px) {
        background-position: calc(50% + 215px) bottom, center bottom;
    }

    @media (max-width: 768px) {
        height: 774px;
        background-image: url('../images/hero-image-mobile.png'), url('../images/hero-mask-mobile.jpg');
        background-size: contain, cover;
        background-position: center bottom, center bottom;
    }
}

.hero-content {
    max-width: 542px;
    margin-top: 36px;

    @media (max-width: 768px) {
        max-width: 335px;
        margin: 0 auto;
    }
}

.hero__title {
    display: flex;
    flex-direction: column;
}

.hero__title span {
    &:nth-child(1) {
        align-self: flex-start;
    }

    &:nth-child(2) {
        align-self: center;
    }

    &:nth-child(3) {
        align-self: flex-end;
    }
}

.hero__subtitle {
    font-size: 18px;
    line-height: 130%;
    font-family: "Golos Text", sans-serif;

    text-align: center;

    margin-top: 24px;
}

.hero__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 32px;
    gap: 14px;

    @media (max-width: 768px) {
        flex-direction: column;

        width: 100%;

        .btn {
            max-width: 100%;
        }
    }
}

/* SUPPORT */
.support {
    padding-top: 80px;
    padding-bottom: 40px;
}

.support-content {
    display: grid;
    gap: 24px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-columns: 1fr 395px;
    grid-template-areas: "text image";

    column-gap: 60px;

    & .support__title {
        grid-area: text;
    }

    & .support__image {
        grid-area: image;
        max-width: 395px;
        text-align: center;

        & img {
            width: 100%;
            border-radius: 50%;
        }
    }

    @media (max-width: 991px) {
        justify-items: center;

        grid-template-columns: 1fr;
        grid-template-areas:
            "part1"
            "image"
            "part2";

        & .support__title {
            display: contents;

            &--part-1 {
                grid-area: part1;
            }

            &--part-2 {
                grid-area: part2;
                text-align: center;
            }
        }

        & .support__image {
            grid-area: image;
        }
    }
}

/* CHESS */
.chess {
    padding-top: 24px;
    padding-bottom: 100px;
}

.chess-content {
    display: grid;
    gap: 44px;

    grid-template-columns: 395px 1fr;

    @media (max-width: 991px) {
        justify-items: center;

        grid-template-columns: 1fr;
    }
}

.chess__list {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 48px;

    & .chess__list-item {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #D0D0D0;
        gap: 16px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 8px;
            padding: 12px 0;
        }

        & .chess__list-item--label {
            flex: 0 0 300px;

            font-family: "Golos Text", sans-serif;
            line-height: 120%;

            color: rgba(49, 49, 49, 0.7);
            padding: 16px 0;
            border-right: 1px solid #D0D0D0;

            @media (max-width: 768px) {
                flex: none;
                border-right: none;
                padding: 0;
            }
        }

        & .chess__list-item--value {
            display: inline-flex;

            font-family: "Golos Text", sans-serif;
            font-weight: 600;
            line-height: 120%;
            color: #313131;

            padding: 16px 0;
            gap: 8px;

            @media (max-width: 768px) {
                padding: 0;
            }
        }
    }

    @media (max-width: 768px) {
        margin-top: 44px;
    }
}

/* TRANSFORMATION */
.transformation {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.transformation-image {
    position: absolute;
    bottom: 96px;
    right: 50%;
    transform: translateX(675px);
    z-index: 10;
    pointer-events: none;

    @media (max-width: 1200px) {
        bottom: 150px;
        transform: translateX(650px);
    }

    @media (max-width: 1100px) {
        bottom: 170px;
        transform: translateX(590px);
    }

    @media (max-width: 991px) {
        top: 220px;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        max-width: 335px;
    }

    @media (max-width: 768px) {
        top: calc(50% - 170px);
    }
}

.transformation__title {
    max-width: 800px;
    margin-bottom: 30px;

    @media (max-width: 991px) {
        margin-bottom: 150px;
    }
}

.transformation__title-link {
    margin-left: 20px;
    max-width: 250px;

    @media (max-width: 768px) {
        display: block;
        margin-left: 0;
        max-width: 100%;
    }
}

.transformation__stages {
    @media (min-width: 769px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        gap: 20px;
        transform: none !important;
        position: relative;

        .slider-card:nth-child(1) {
            grid-column: span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .slider-card:nth-child(2) {
            grid-column: span 2;
            grid-row: 2;
        }

        .slider-card:nth-child(3) {
            grid-column: span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .slider-card:nth-child(4) {
            grid-column: 1;
            grid-row: 4;
        }

        .slider-card:nth-child(5) {
            grid-column: 2;
            grid-row: 4;
            padding-right: 20px;
        }

        .slider-nav {
            display: none;
        }
    }

    @media (min-width: 991px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        gap: 20px;
        transform: none !important;
        position: relative;

        .slider-card:nth-child(1) {
            grid-column: span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .slider-card:nth-child(2) {
            grid-column: 3;
            grid-row: 1 / 3;
        }

        .slider-card:nth-child(3) {
            grid-column: span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .slider-card:nth-child(4) {
            grid-column: 1;
            grid-row: 3;
        }

        .slider-card:nth-child(5) {
            grid-column: 2 / 4;
            grid-row: 3;
            padding-right: 300px;
        }
    }
}

.transformation__stages-item {
    padding: 20px;
    min-height: 120px;
    display: flex;
    gap: 16px;
    box-sizing: border-box;

    background-image: url(../images/stage-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    line-height: 120%;

    span {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--white-color);

        font-weight: 600;
    }

    p {
        font-weight: 500;
    }

    @media (max-width: 768px) {
        padding: 60px 20px 34px 20px;
    }
}

.transformation__stages-item--wrapper {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/stage-image.jpg);
        padding: 60px 20px 34px 20px;

        .transformation__stages-item {
            background-image: none;
            padding: 0;
        }
    }
}

.transformation__controls {
    margin-top: 20px;
}

/* PARTICIPANTS */
.participants {
    padding-top: 100px;
    padding-bottom: 100px;
}

.participants__title {
    padding-right: 200px;
    margin-bottom: 60px;

    @media (max-width: 768px) {
        padding-right: 0;
    }
}

.participants__slides-item {
    display: flex;
    flex-direction: column;

    .participants__slides-item__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .participants__slides-item__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 28px;
        gap: 6px;

        .participants__slides-item__info-name {
            font-family: "Golos Text", sans-serif;
            font-size: 24px;
            line-height: 120%;
            font-weight: 600;
        }

        .participants__slides-item__info-role {
            font-family: "Golos Text", sans-serif;
            font-size: 20px;
            line-height: 120%;
            font-weight: 400;
        }
    }

    .participants__slides-item__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}



.participants__controls {
    position: absolute;
    top: 8px;
    right: 20px;

    @media (max-width: 768px) {
        position: static;
        margin-top: 20px;
    }
}

/* FOOTER */
footer {
    padding: 40px 0 72px 0;

    background-color: var(--bougie-color);

    p {
        font-family: "Golos Text", sans-serif;
        font-size: 16px;
        line-height: 120%;
        font-weight: 400;
        color: var(--gray-color);
    }
}