:root {
    /* Основные цвета */
    --white-color: #FFFFFF;
    --black-color: #1F1F1F;
    --gray-color: #313131;
    --yellow-color: #FBCE51;
    --red-color: #F54932;
    --blue-color: #3057A2;
}

/* ---COMMON STYLES--- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: 'Merriweather', Georgia, serif;

    font-size: 16px;
    line-height: 1.6;
    color: var(--black-color);
    background-color: var(--white-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 100%;
    max-width: 1242px;
    padding: 0 20px;
    margin: 0 auto;
}

/* ---COMPONENTS--- */
/* BUTTON */
.btn {
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;

    padding: 14px 50px;
    border-radius: 100px;
    width: 100%;
    max-width: 263px;
    min-height: 72px;

    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;

    &:hover {
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        box-shadow: none;
    }

    &.btn-primary {
        color: var(--white-color);
        border: solid 2px var(--black-color);
        background-color: var(--black-color);

        &:hover {
            color: #1F1F1F;
            border: solid 2px var(--yellow-color);
            background-color: var(--yellow-color);
        }
    }

    &.btn-outline {
        color: #1F1F1F;
        border: solid 2px var(--black-color);
        background-color: transparent;

        &:hover {
            color: var(--white-color);
            border: solid 2px var(--black-color);
            background-color: var(--black-color);
        }

        @media (max-width: 768px) {
            border: solid 2px var(--white-color);
            background-color: var(--white-color);
        }
    }

    @media (max-width: 768px) {
        min-height: 47px;
        padding: 12px 40px;
    }
}

/* LINE THROUGH */
.line-through {
  text-decoration: line-through;
  text-decoration-color: var(--red-color); /* Красная линия как в макете */
}

/* LINK */
.link {
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    line-height: 120%;

    color: var(--blue-color);

    text-decoration: none;
}

/* TITLE */
.title {
    font-family: 'Merriweather', Georgia, serif;
    text-transform: uppercase;
    color: var(--gray-color);

    & .-colored {
        color: var(--red-color);
    }
}

h1.title {
    font-size: 60px;
    font-weight: 400;
    line-height: 110%;

    @media (max-width: 768px) {
        font-size: 36px;
    }
}

h2.title {
    font-size: 36px;
    line-height: 135%;

    @media (max-width: 768px) {
        font-size: 28px;
    }
}

/* ---ELEMENTS--- */
/* HEADER */
header {
    padding-top: 26px;
    padding-bottom: 26px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

header .logo-text {
    font-family: "Golos Text", sans-serif;
    font-weight: bold;
    line-height: 108%;
}

/* ---SECTIONS--- */
/* HERO */
.hero {
    height: 700px;
    background-image: url('../images/hero-image.png'), url('../images/hero-mask.jpg');
    background-repeat: no-repeat;
    background-size: 1627px 700px, cover;
    background-position: center bottom, center bottom;

    @media (max-width: 1200px) {
        background-position: calc(50% + 100px) bottom, center bottom;
    }

    @media (max-width: 991px) {
        background-position: calc(50% + 215px) bottom, center bottom;
    }

    @media (max-width: 768px) {
        height: 774px;
        background-image: url('../images/hero-image-mobile.png'), url('../images/hero-mask-mobile.jpg');
        background-size: contain, cover;
        background-position: center bottom, center bottom;
    }
}

.hero-content {
    max-width: 542px;
    margin-top: 36px;

    @media (max-width: 768px) {
        max-width: 335px;
        margin: 0 auto;
    }
}

.hero__title {
    display: flex;
    flex-direction: column;
}

.hero__title span {
    &:nth-child(1) {
        align-self: flex-start;
    }

    &:nth-child(2) {
        align-self: center;
    }

    &:nth-child(3) {
        align-self: flex-end;
    }
}

.hero__subtitle {
    font-size: 18px;
    line-height: 130%;
    font-family: "Golos Text", sans-serif;

    text-align: center;

    margin-top: 24px;
}

.hero__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 32px;
    gap: 14px;

    @media (max-width: 768px) {
        flex-direction: column;

        width: 100%;

        .btn {
            max-width: 100%;
        }
    }
}

/* SUPPORT */
.support {
    padding-top: 80px;
    padding-bottom: 40px;
}

.support-content {
    display: grid;
    gap: 24px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-columns: 1fr 395px;
    grid-template-areas: "text image";

    column-gap: 60px;

    & .support__title {
        grid-area: text;
    }

    & .support__image {
        grid-area: image;
        max-width: 395px;
        text-align: center;

        & img {
            width: 100%;
            border-radius: 50%;
        }
    }

    @media (max-width: 991px) {
        justify-items: center;

        grid-template-columns: 1fr;
        grid-template-areas:
            "part1"
            "image"
            "part2";

        & .support__title {
            display: contents;

            &--part-1 {
                grid-area: part1;
            }

            &--part-2 {
                grid-area: part2;
                text-align: center;
            }
        }

        & .support__image {
            grid-area: image;
        }
    }
}

/* CHESS */
.chess {
    padding-top: 24px;
    padding-bottom: 100px;
}

.chess-content {
    display: grid;
    gap: 44px;

    grid-template-columns: 395px 1fr;

    @media (max-width: 991px) {
        justify-items: center;

        grid-template-columns: 1fr;
    }
}

.chess__list {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 48px;

    & .chess__list-item {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #D0D0D0;
        gap: 16px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 8px;
            padding: 12px 0;
        }

        & .chess__list-item--label {
            flex: 0 0 300px;

            font-family: "Golos Text", sans-serif;
            line-height: 120%;

            color: rgba(49, 49, 49, 0.7);
            padding: 16px 0;
            border-right: 1px solid #D0D0D0;

            @media (max-width: 768px) {
                flex: none;
                border-right: none;
                padding: 0;
            }
        }

        & .chess__list-item--value {
            display: inline-flex;

            font-family: "Golos Text", sans-serif;
            font-weight: 600;
            line-height: 120%;
            color: #313131;

            padding: 16px 0;
            gap: 8px;

            @media (max-width: 768px) {
                padding: 0;
            }
        }
    }

    @media (max-width: 768px) {
        margin-top: 44px;
    }
}